@font-face {
  font-family: 'IconGMSis';
  src:  url('IconGMSis.eot?g7xp61');
  src:  url('IconGMSis.eot?g7xp61#iefix') format('embedded-opentype'),
    url('IconGMSis.ttf?g7xp61') format('truetype'),
    url('IconGMSis.woff?g7xp61') format('woff'),
    url('IconGMSis.svg?g7xp61#IconGMSis') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconGMSis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration:none;
}

.icon-undo:before {
  content: "\e90c";
}
.icon-history:before {
  content: "\e90b";
}
.icon-help:before {
  content: "\e90a";
}
.icon-toggle-off:before {
  content: "\e908";
}
.icon-toggle-on:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e906";
}
.icon-controller-record:before {
  content: "\e907";
}
.icon-apps:before {
  content: "\e905";
}
.icon-upload:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e903";
}
.icon-config:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e901";
}
.icon-GMSIS:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e910";
}
.icon-oficina:before {
  content: "\e911";
}
.icon-quitar-filtro:before {
  content: "\e912";
}
.icon-magnifying-glass:before {
  content: "\e913";
}
.icon-key:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e917";
}
.icon-trash:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-user-padlock:before {
  content: "\e91a";
}
