﻿.boxWhite {
    font-family: Arial;
    background-color: white;
    padding: 12px 10px 15px 10px;
    border-top: 2px solid #0056AE;
    border-bottom: 2px solid #c2c2c2;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    position: relative;
}

.grid {
    border: none;
    cursor: default;
}

    .grid th a:link {
        color: #1966b6;
        text-decoration: none;
    }


.gridTitulo {
    border: none;
    background-color: #FAFAFA;
    border-top: 2px solid #4DBDFF;
    border-bottom: 1px solid #EEEEEE;
    padding: 1px 5px 1px 5px;
    font: small Verdana;
    line-height: 1.5;
    color: #1966b6 !important;
}

.gridDetalle {
    border-bottom-color: #EBEBEB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #414141;
    font: small Verdana;
    font-weight: 400;
    padding: 4px;
}

/* ------------------------------------------------------------------------------------------ */
/* Permite fijar los títulos de un grid y darle formato en caso de poder ordenar por columnas */
/* ------------------------------------------------------------------------------------------ */
.FixedHeader {
    color: #1966b6;
    text-decoration: none;
    border: none;
    background-color: #FAFAFA;
    border-top: 2px solid #4DBDFF;
    border-bottom: 1px solid #EEEEEE;
    padding: 1px 5px 1px 5px;
    font: 15px Verdana,sans-serif;
    line-height: 1.5;
    color: #1966b6 !important;
}

    .FixedHeader tr :hover {
        color: Orange;
        text-decoration: none;
        cursor: pointer;
    }

    .FixedHeader tr :visited {
        color: black;
        text-decoration: none;
    }

.gridFixedHeader {
    position: absolute;
}

    .gridFixedHeader th a:link {
        color: #1966b6;
        text-decoration: none;
    }

    .gridFixedHeader th a:hover {
        color: Orange;
        text-decoration: none;
    }

    .gridFixedHeader th a:visited {
        color: black;
        text-decoration: none;
    }
